<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Table Sorting</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptate nulla doloribus porro illo molestiae labore vel hic enim iure ipsam magnam libero, dolorem aliquam consequuntur ducimus quia quam ad!</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ng2-smart-table [settings]="settings" [source]="data" class="table"></ng2-smart-table>
        </div>
        <div class="col-md-6">
            <ng2-smart-table [settings]="cus_info" [source]="cust_data" class="table" ></ng2-smart-table>
        </div>
    </div>
</div>


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p> &copy; Copyright {{date}}, All Rights Reserved  </p>
            </div>
        </div>
    </div>
</footer>